{
  "presets": [
    ["env", {
      "targets": {
        "node": "10.5"
      }
    }],
    "flow"
    ],
  "plugins": [
    "syntax-flow",
    ["tcomb", {
      "globals": [
        {
          "express$Request": true,
          "express$Response": true,
          "express$NextFunction": true
        }
      ]
    }],
    "transform-flow-strip-types",
    "transform-object-rest-spread"
  ]
}
